In [3]:
import numpy as np
import pandas as pd

import array as ay
Ary=ay.array('i',[3,4,7,8,9])
k=Ary[::-2]
print(k)

array('i', [9, 7, 3])

In [4]:
import numpy as np
import pandas as pd

name=(’Steve’,’Methews’)
name[0]=‘George

SyntaxError: invalid character in identifier (<ipython-input-4-18194a5b11b3>, line 4)

In [5]:
import pandas as pd
import numpy as np

series = [1., 2., 3.]
degree = 5
a = pd.DataFrame({"power_" + str(power): np.power(series, power) for power in range(1, degree+1)})
print(a[a.columns[0]].dtypes)

float64

In [6]:
a

   power_1  power_2  power_3  power_4  power_5
0      1.0      1.0      1.0      1.0      1.0
1      2.0      4.0      8.0     16.0     32.0
2      3.0      9.0     27.0     81.0    243.0

In [7]:
num = np.array([5,15,25,35])
print('response: ',num[0:2])

response:  [ 5 15]

In [8]:
a = [0,1,1,2,3,5,8,13,21,34,55]
b = __________________________
print(a)
[1, 1, 3, 5, 13, 21, 55]

NameError: name '__________________________' is not defined

In [10]:
a = [1, 2, 3]
b = [17, 12, 11, 10]
c = [-1, -4, 5, 9]

list(map(lambda x, y, z : (3.5*x + 3*y - z), a, b, c))

TypeError: 'list' object is not callable

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark = SparkSession.builder.appName('assessment').getOrCreate()
data=[["2021-06-15"]]
df=spark.createDataFrame(data,["input"])

ModuleNotFoundError: No module named 'pyspark'

In [13]:
A = [1,1,1,3,3,4,3,2,4,2]
def solution(nums):
    return (all(nums[i] <= nums[i + 1] for i in range(len(nums) - 1)) or
all(nums[i] >= nums[i + 1] for i in range(len(nums) - 1)))

print(solution(A))

False